#create-room-modal {
  border: 1px solid;
}

#contact-modal {
  border: 1px solid;
}

#rooms-list li {
  border: 1px solid;
}

#room-area {
  /* background-color: lightcoral; */
  border: 1px solid;
}

#contact-modal.closed,
#create-room-modal.closed,
#room-area.closed {
  display: none;
}

#messages-area {
  background-color: #fff;
  border: 1px solid;
  padding: 1rem;
}

.message-item {
  border: 1px solid;
  padding: 0.5rem;
}
