:root {
	--primary: rgb(0, 128, 255);
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(50, 50, 50);
}

div,
section,
ul {
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
	padding: 0;
}

button,
a,
li {
	cursor: pointer;
}

li:hover {
	background-color: #eee;
}

div#page-container {
	background-color: #fff;
	margin: 0 auto;
	max-width: 786px;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
}

header > div {
	display: flex;
	align-items: center;
}

nav#tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
}

nav#tabs > div.nav-tab {
	cursor: pointer;
	width: 100%;
	text-align: center;
}
nav#tabs > div.nav-tab.active {
	color: var(--primary);
}

nav#tabs > div.nav-tab:hover {
	opacity: 0.7;
}

nav#tabs > div.nav-tab:first-child {
	border-right: 1px solid;
}

#rooms-list {
	border: 1px solid;
	padding: 1rem;
}

#create-room-modal {
	border: 1px solid;
}

#add-contact-modal {
	border: 1px solid;
}

#room-area {
	background-color: #eee;
	border: 1px solid;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
}

#messages-area {
	background-color: #fff;
	border: 1px solid;
	padding-block: 1rem;
	height: calc(100vh - 240px);
	width: min(100%, 500px);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
li.user.message {
	margin-right: auto;
}
li.contact.message {
	margin-left: auto;
}
li.message {
	border: 1px solid;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	width: 70%;
}
li.message > .date-div {
	text-align: end;
	font-size: 0.8rem;
}

#add-contact-modal.closed,
#create-room-modal.closed,
#room-area.closed {
	display: none;
}

.hide-content {
	display: none;
}

button#add-new-chat-btn,
button#add-new-contact-btn {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

#typing-indicator {
	width: 40px;
	height: 10px;
	padding: 0.5rem 0.5rem 0.2rem;
}
