:root {
  --light: #cdcdcd;
  --dark: #323232;
  --primary: rgb(0, 128, 255);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(50, 50, 50);
}

div,
section,
ul {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button,
a,
li {
  cursor: pointer;
}

li:hover {
  background-color: #eee;
}

button,
input[type="submit"] {
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: opacity 0.2s;
}

button.app-btn,
input.app-btn {
  padding: 0.5rem;
  font-size: 16px;
  /* letter-spacing: 0.5px; */
}

button#add-new-chat-btn,
button#add-new-contact-btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

button.x-btn {
  background-color: transparent;
  color: #000;
}

button:hover {
  opacity: 0.7;
}

div#page-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 786px;
  min-height: 100vh;
}

/********************************/
/*********** Header *************/
/********************************/

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
  padding: 0.5rem;
}

header > div {
  display: flex;
  align-items: center;
}

/*****************************/
/*********** Nav *************/
/*****************************/

nav#tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
}

nav#tabs > div.nav-tab {
  cursor: pointer;
  width: 100%;
  text-align: center;
}
nav#tabs > div.nav-tab.active {
  color: var(--primary);
}

nav#tabs > div.nav-tab:hover {
  opacity: 0.7;
}

nav#tabs > div.nav-tab:first-child {
  border-right: 1px solid var(--light);
}

/***********************************/
/************ Messages *************/
/***********************************/

#rooms-list {
  padding-inline: 1rem;
}

#rooms-list li {
  border-top: none;
  border: 1px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rooms-list li > div {
  /* border: 1px solid var(--light); */
  display: flex;
}

.avatar {
  padding: 0.5rem;
}
.room-main {
  width: 100%;
}
.time-sent {
  padding: 0.5rem;
}

#rooms-list li:first-child {
  border: 1px solid var(--light);
}

#rooms-list li img {
  border: 1px solid var(--light);
  border-radius: 50%;
}

#create-room-modal {
  border: 1px solid;
}

#add-contact-modal {
  border: 1px solid;
}

#room-area {
  background-color: #eee;
  border: 1px solid;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 420px;
}

#messages-area {
  background-color: #fff;
  border: 1px solid;
  padding-block: 1rem;
  height: calc(100vh - 222px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

li.user.message {
  margin-right: auto;
}
li.contact.message {
  margin-left: auto;
}
li.message {
  border: 1px solid;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  width: 70%;
}
li.message > .date-div {
  text-align: end;
  font-size: 0.8rem;
}

li.message > .text-div {
  word-wrap: break-word;
}

/***********************************/
/************** Forms **************/
/***********************************/

#add-contact-form,
#send-message-form,
#create-room-form {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}

input#add-contact-input,
input#message-input,
input#room-name-input {
  line-height: 1.6rem;
  width: 100%;
  border: 1px solid var(--light);
  border-radius: 6px;
  padding-left: 0.5rem;
  margin: 0.25rem;
  /* margin-right: 0.5rem; */
}

/************************************/
/************** Modals **************/
/************************************/

#add-contact-modal,
#create-room-modal,
#room-area {
  border: 1px solid var(--light);
}

#typing-indicator {
  width: 40px;
  height: 10px;
  padding: 0.5rem 0 1.25rem 0.3rem;
  /* padding: 0.5rem 0.5rem 0.2rem; */
}

.hide-content {
  display: none;
}

.closed {
  display: none;
}
